<nav class="header">
    <h2>Digital Dictionary</h2>
    <ul style="list-style: none;">
        <li><a href="/api/terms">Terms</a></li>
        <li><a href="/api/terms/add">Add</a></li>
    </ul>
</nav>