<nav class="header">
    <h2>Digital Dictionary</h2>
    <ul style="list-style: none;">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="http://localhost:5000/api/terms/add">Add</a></li>
    </ul>
</nav>