<nav class="header">
    <h2>Digital Dictionary</h2>
    <ul style="list-style: none;">
        <li><a href="/api/terms">Find all words</a></li>
        <li><a href="/api/terms/add">Create a word</a></li>
    </ul>
</nav>