
<div class="container-add-term">
    <form id="add-form">
        <div class="add-term">
            <input type="text" required placeholder=" Term definition..." class="add-definition" name="definition"><br>
            <textarea required placeholder=" Term description..." class="add-description" rows="10" cols="60" name="description"></textarea><br>
            <input type="text" required placeholder=" Add your name..." class="add-name" name="username">
            <input type="text" placeholder=" Add social media (optional)" class="add-social-media"
                name="userSocialMedia">
        </div>
        <button type="submit" class="add-term-btn">Add</button>
    </form>
</div>
    <div class="home">
        <a href="/api/terms">Home</a>
    </div>
       
