{{> header}}
<div class="container">
    <h1>All terms</h1>
    <div class="terms">
        {{#each terms}}
        <div class="term-list">
            <h3>{{definition}}</h3>
            <p>{{ description}}</p>
        </div>
        {{/each}}
    </div>

</div>

{{> footer}}