{{> header}}
<div class="container-single-term">
    <h1>Find a term</h1>
    <form>
        <div class="find-term">
            <input type="text" required placeholder="Search..." class="find-term" name="term">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>
    {{#unless completed}}
    <h1>Term not found in the dictionary</h1>
    {{/unless}}
    <h3>{{definition}}</h3>
    <p>{{ description}}</p>
    <span>{{username}}</span>
</div>
{{> footer}}