{{!-- <div class="container-find-term">
    <h3>Find a term</h3>
    <form id="find-form">
        <div class="find-term">
            <input type="text" required placeholder="Search..." class="find-single-term" name="term">
        </div>
        <button type="submit" class="find-term-btn">Find</button>
    </form>
</div> --}}
<div class="container-terms">
    <div class="item-a">
        <a href="#">Join a workshop</a>
        <div class="item-a-cross"></div>
    </div>
<div class="item-b">
    <a href="/api/terms/add">Create a word</a>
    <div class="item-b-cross"></div>
</div>
    <div class="terms">
        {{#each terms}}
          <div class="term-list">
            <h3>{{definition}}</h3>
            <h4 class="ref">~noun /ˈdeɪtə /ænˌtɪsɪˈpeɪʃn̩</h4>
            <p>{{ description}}</p>
        </div>  
        {{/each}}
    </div>
</div>
<div class="add">

</div>