{{> header}}
<div class="container-single-term">
    <h1>Hello</h1>
    {{#if term}}
    <div class="term">
        <h3>{{definition}}</h3>
        <p>{{ description}}</p>
        <span>Added by {{username}} on {{createdAt}}</span>
    </div>
    {{/if}}
</div>
{{> footer}}