{{> header}}
<div class="container-terms">
    <h1>All terms</h1>
    <div class="terms">
        {{#each terms}}
        <div class="term-list">
            <h3>{{definition}}</h3>
            <p>{{ description}}</p>
            <span>Added by {{username}} on {{createdAt}}</span>
        </div>
        {{/each}}
    </div>
</div>
{{> footer}}