#main-container {
    background-image: url('../images/Homepage-background.png');
}

.container-add-term {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.add-term{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
}

.add-term-btn {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    width: 170px;
    font-size: 16px;
    background-color:#e66c44;
    color: white;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-width: 1px;
}

.add-definition {
    margin-top: 30px;
    border-radius: 10px;
    border-width: 1px;
}

.add-description {
    border-radius: 10px;
}

.add-name {
    border-radius: 10px;
    margin-bottom: 5px;
    border-width: 1px;
}

.add-social-media {
    border-radius: 10px;
    margin-bottom: 5px;
    border-width: 1px;
}

.home {
	border: 6px solid  #6865cd;
	border-radius: 50%;
	width: 160px;
	height: 160px;
    z-index: 1;
    float: left;
    margin-left: 20px;
    position: fixed;
}

.home a {
    color: #6865cd;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    margin-left: 80px;
    position: relative;
    top: 85px;
}

.home a:hover {
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.home-cross {
    background: #6865cd;
    width: 5px;
    height: 40px;
    position: absolute;
    margin-left: 50px;
}

.home-cross:after {
    background: #6865cd;
    content: "";
    height: 5px;
    left: -30px;
    position: absolute;
    top: 17px;
    width: 40px;
    margin-left: 12px;
}
