.container-terms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    background-color: #e5e4e2;
}

h1 {
    margin-bottom: 20px;
}

span {
    font-size: 10px;
    color: lightslategray;
}

.terms {
    margin-bottom: 15px;
}

