#main-container {
    background-image: url('../images/Homepage-background.png');
}
.container-terms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: 'Space Mono', monospace;
}

.terms {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.term-list {
    max-width: 400px;
    margin-bottom: 40px;
    background-color: #b3d1c8;
}

.term-list p {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    padding-inline-start: 10px;
}

.term-list h3 {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
}
.term-list h4 {
    visibility: hidden;
}

.term-list:first-child {
    background-color: #e66c44;
}

.term-list:first-child h3{
    margin-top: 20px;
    margin-left: 30px;
    color: #efe7de;
}

.term-list:first-child h4{
    margin-left: 20px;
    visibility: visible;
    color: #efe7de;
    font-size: 16px;
    padding-left: 10px;
}

.term-list:first-child p{
    color: #efe7de;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 350px;
}


.term-list:last-child {
    background-color: #6865cd;
}

.term-list:last-child h3 {
    margin-top: 20px;
    margin-left: 30px;
    color: #b3d1c8;
}


.term-list:last-child p {
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 350px;
    color: #b3d1c8;
}

.term-list:nth-child(3) {
    background-color: #fd94be;
}

.term-list:nth-child(3) h3 {
    margin-top: 20px;
    margin-left: 30px;
    color: #efe7de;
}

.term-list:nth-child(3) p {
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 350px;
    color: #efe7de;
}


.term-list:nth-child(2) {
    background-color: #b3d1c8;
}

.term-list:nth-child(2) h3 {
    margin-top: 20px;
    margin-left: 30px;
    color: #6865cd;
}

.term-list:nth-child(2) p {
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 350px;
    color: #6865cd;
}
